.add-todo-input-container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

.add-todo-input-container.expanded {
  max-height: 110px;
  transition: max-height 0.3s ease-in;
}

.add-todo-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  resize: none;
  font-family: inherit;
}

.add-todo-actions {
  display: flex;
  justify-content: space-between;
}

.add-todo-action {
  width: 47%;
  transition: width 0.3s ease-in;
}

.add-todo-action.fullwidth {
  width: 100%;
  transition: width 0.3s ease-in;
}

.add-todo-action.hidden {
  width: 0;
  overflow: hidden;
  padding: 0;
  transition: width 0.3s ease-in;
}
