.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.error {
  position: fixed;
  top: -110%;
  left: 50%;
  border: 2px solid lightcoral;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 100%;
  color: lightcoral;
  background: #ffff;
  box-shadow: 0 0 1px 2px #fff;
  transform: translateX(-50%);
  transition: top 0.5s ease-in-out;
}

.error.shown {
  top: 60px;
  transition: top 0.5s ease-in-out;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 10px 10px;
  text-align: center;
  color: #209CEE;
}

.heading-link {
  color: #209CEE;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.button.icon-button {
  padding: 3px 5px;
  background: transparent;
}

.button.success {
  background: #209CEE;
  color: #fff;
}

.nav-links {
  display: flex;
  padding: 20px 0px;
  text-align: center;
}

.nav-link {
  display: inline-block;
  flex: 1;
  text-decoration: none;
  color: #209CEE;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
  background: #209CEE;
}